<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visualizar relatórios:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="custom-list">
    <ion-item class="custom-item">
      <ion-label>Total de Atendimentos Realizados</ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Atendimentos Prioritários Completados</ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Total de Atendimentos Gerais</ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Atendimentos de Exames Finalizados</ion-label>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Total de Senhas Distribuídas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
